@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    position: relative;

}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 2;
    background-color: #F4F6FC;
    height: 60px;


}
#home{
    margin-left: 50px;

}
#sobre{
    margin-right: 50px;
    margin-left: 20px;


}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 3px;
    text-decoration: none;
}

#icones {
    display: flex;
    justify-content: space-around;
    width: 700px;
    align-items: center;
    font-size: 20px;
}

#conteudo1 {


    background-position: center;
    margin-left: -100px;


}
#conteudo2{
    border: 2px solid;
    height: 200px;
    margin-left: 130px;
    border-radius: 20px;
    margin-top: 30px;
    width: 280px;

}
#conteudo3{
    border: 2px solid;
    height: 200px;
    margin-left: 80px;
    border-radius: 20px;
    margin-top: 30px;
    width: 280px;
}